<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit <%= item.name %></h3>
                </div>
                <div class="card-body p-4">
                    <form action="/item/<%= item._id %>/update" method="POST" id="add-item-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="itemName">Name</label>
                            <input type="text" name="itemName" class="form-control form-control-lg" placeholder="Enter item name" value="<%= item.name %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="itemDescription">Description</label>
                            <input type="text" name="itemDescription" class="form-control form-control-lg" placeholder="Describe item" value="<%= item.description %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="category">Category</label>
                            <select name="category" required class="form-control form-control-lg">
                                <% categories.forEach((category) => { %>
                                    <option><%= category.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="price">Price</label>
                            <input type="number" name="price" class="form-control form-control-lg" placeholder="Enter price" value="<%= item.price %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="amount">Amount</label>
                            <input type="number" name="amount" class="form-control form-control-lg" placeholder="Enter amount" value="<%= item.amount %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input type="file" name="image" class="form-control form-control-lg" required>
                            <img src="/uploads/<%= item.image %>" width="100" class="img-thumbnail mt-1">
                        </div>
                        <input type="hidden" name="old_image" value="<%= item.image %>">
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit-item" value="Update Item" class="btn btn-success btn-lg" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>