<%- include('layout/header') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-32">
            <% if (message) { %>
                <div class="alert alert-dismiss fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close float-end" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><%= message.message %></strong>
                </div>
            <% } %>
            <div class="table-responsive">
                <% if (categories != '') { %>
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-dark text-center">
                                <th>Category Name</th>
                                <th>Category Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach((row, index) => { %>
                                <tr class="align-middle">
                                    <td><%= row.name %></td>
                                    <td><%= row.description %></td>
                                    <td>
                                        <a href="/category<%= row._id %>/edit" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                        <a href="/category<%= row._id %>/delete" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <h1 class="text-center text-secondary mt-5">No Categories yet.</h1>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>